.popup__btn {
  background-image: url(../../../images/icon__cross.svg);
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: -31px;
  right: -31px;
  width: 31px;
  height: 31px;
  border: none;
  padding: 0;
  outline: none;
  transform: rotate(-360deg);
  transition: all .5s;
}

.popup__btn:hover {
  opacity: .6;
  cursor: pointer;
  transform: rotate(360deg);
  transition: all .5s;
}

@media all and (max-width: 500px) {
  .popup__btn {
    background-image: url(../../../images/icon__cross_black.svg);
    top: 10px;
    right: 10px;
  }
}