.footer__social-list {
  width: 192px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 24px);
  grid-column-gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translate(-50%, 0);
}

@media all and (max-width: 900px) {
  .footer__social-list {
    width: 92.5%;
    height: unset;
    flex-direction: column;
    align-items: center;
    position: unset;
    transform: unset;
    justify-content: center;
    margin-bottom: 20px;
  }
}