.menu__link {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
}

.menu__link:hover {
  cursor: pointer;
  opacity: .6;
  transition: opacity .2s ease;
}