.popup__message {
  font-family: "Cabin Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  line-height: 22px;
}

@media all and (max-width: 600px) {
  .popup__message {
    font-size: 16px;
    line-height: 18px;
  }
}