@import url(./__buttons/delivery__buttons.css);
@import url(./__btn/delivery__btn.css);
@import url(./__btn/_active/delivery__btn_active.css);
@import url(./__container/delivery__container.css);
@import url(./__input/delivery__input.css);
@import url(./__form/delivery__form.css);
@import url(./__label/delivery__label.css);
@import url(./__title/delivery__title.css);
@import url(./__block/delivery__block.css);
@import url(./__input-error/delivery__input-error.css);
@import url(./__input-error/_active/delivery__input-error_active.css);
@import url(./__inputs/delivery__inputs.css);

.delivery {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 110px 0 80px;
}

@media all and (max-width: 600px) {
  .delivery {
    padding: 30px 0 30px;
  }
}